

<h3>Todo list:</h3>

<input type="text" name="todoDescription" placeholder="What needs to be done?" ng-model="todoDescription">
<select ng-options="priority.number as priority.name for priority in priorities"
        ng-model="priority"></select>
<button ng-click="addTodo()">Add todo</button><br>

<h2 ng-if="todoError">{{todoError}}</h2>
<h2 ng-if="priorityError">{{priorityError}}</h2>


<table border="3" width="100%">
    <tr>
        <th>Description</th>
        <th>Completed</th>
        <th>Priority</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr ng-repeat="todo in todos">
        <td>
            <span ng-if="!todo.editMode">{{todo.todo}}</span>
            <input type="text" ng-model="todo.todo" ng-show="todo.editMode">
        </td>
        <td>
            <input type="checkbox" ng-model="todo.done"  ng-disabled="!todo.editMode">
        </td>
        <td>
            <span ng-if="!todo.editMode">{{priorities[todo.priority].name}}</span>
            <select ng-if="todo.editMode" ng-options="priority.number as priority.name for priority in priorities"
                    ng-model="todo.priority"></select>
        </td>
        <td><button ng-click="deleteTodo(todo)">Delete</button></td>
        <td>
            <button ng-click="setEditMode(todo, true)" ng-hide="todo.editMode">Edit</button>
            <button ng-click="editTodo(todo)" ng-hide="!todo.editMode">Save changes</button>
            <button ng-click="setEditMode(todo, false)" ng-hide="!todo.editMode">Cancel</button>
        </td>
    </tr>
</table>
